/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

// font size
.post-content p, .post-content li {
    font-size: 16px;
}

// remove borders on home page and around boxes
.site-header {
    border: none;
}

.site-footer {
    border: none;
}
 
.post-list > li > div {
     box-shadow: none !important;
     border: none !important;
}

// code font size
pre, code {
    font-size: 12px;
}

// adjust background color of code cells
pre, code {
    border: #8f91ff;
    background-color: #9EE8C4;
}

 // increase content width
.wrapper {
    max-width: calc(1000px - (40px * 2));
    padding-right: 30px;
    padding-left: 30px;
}

// center altair charts
.output_wrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.vega-embed .chart-wrapper {
    width: auto;
    height: 100%;
    align-content: center;
}